h1{color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    }
    p{
        color: aquamarine;
        font-size: xx-large;
        font-family:'Courier New', Courier, monospace; 
    }
    p{
        color: blue;
    }